@import '@repo/ui/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}
